
Neos:
  Flow:
    persistence:
      backendOptions:
        host: flowapp-mysql
        driver: pdo_mysql
        dbname: admin
        user: admin
        password: pass
  Imagine:
    driver: Imagick
